<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="font.css">
    <meta charset="utf-8">
    <title>This is the about page of the Alpha-blog</title>
  </head>
  <body>
    <!-- About Me section start -->
    <div class="section">
      <h1><span>About Me</span></h1>
        <p>
          Hey! I'm <strong>EGORIDI</strong>.
        </p>
        <p class="quote">"Declare variables, not war"</p>
        <p>This is an exercise for The Complete Ruby on Rails Developer Course</p>
    </div>
    <!-- About Me section ends -->

    <!-- Este é o link para a homepage -->
    <%= link_to 'Homepage', root_path %>
    <br>
    <br>


    <!-- Esta é a foto do sujeito meditando -->
    <!-- https://pixabay.com/photos/yoga-meditation-vipassana-4849681/ -->
    <%= image_tag 'yoga-4849681_640.jpg' %>
    <p>
      Image by <a href="https://pixabay.com/users/李磊瑜伽-15267049/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4849681">李磊瑜伽</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4849681">Pixabay</a>
    </p>
    <br>

    <!-- Esta é a foto do padeiro -->
    <!-- https://pixabay.com/photos/bio-baker-bread-bake-nutrition-4840960/ -->
    <%= image_tag 'bio-4840960_640.jpg' %>
    <p>
      Image by <a href="https://pixabay.com/users/Bildagentur_Intuitivmedia-5678168/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4840960">Philippe Ramakers</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4840960">Pixabay</a>
    </p>
    <br>

    <%= image_tag 'swan-4013225_640.jpg' %>
    <p>
      Image by <a href="https://pixabay.com/users/moonzigg-6341937/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4013225">moonzigg</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4013225">Pixabay</a>
    </p>


    <!-- Media section start -->
    <div class="section">
      <h1><span>My Media</span></h1>
      <iframe height="150" width="300" src="https://www.youtube.com/embed/J15x0YeUjH4" allowfullscreen frameborder="0"></iframe>
    </div>
    <!-- Media section end -->



  </body>
</html>
