<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="font.css">
    <meta charset="utf-8">
    <title>This is the homepage of the Alpha-blog</title>
  </head>
  <body>

    <!-- Homepage section start -->
    <div class="section">
      <h1><span>HOMEPAGE</span></h1>
        <p>
          Hey! This is our <strong>HOMEPAGE</strong> of the Alpha-blog.
        </p>

        <p>This is an exercise for The Complete Ruby on Rails Developer Course</p>
    </div>
    <!-- HOMEPAGE section ends -->


    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %><br>
    <br>
    <%= link_to image_tag('cherry-blossoms-4846635_1920.jpg'), 'https://pixabay.com/photos/cherry-blossoms-flowers-tree-bloom-4846635/' %>
    <p>
      Image by <a href="https://pixabay.com/users/Kranich17-11197573/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4846635">Kranich17</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4846635">Pixabay</a>
    </p>
    <br>


    <img alt="Image by Susanne Jutzeler, suju-foto" src="https://cdn.pixabay.com/photo/2020/02/13/21/21/lighthouse-4846854_960_720.jpg" />
    <p> Image by <a href="https://pixabay.com/users/suju-165106/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4846854">Susanne Jutzeler, suju-foto</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4846854">Pixabay</a>
    </p>

  </body>
</html>
